*{
    margin: 0;
    padding: 0;
}

dl, ol, ul, p{
    margin: 0 !important;
    padding: 0 !important;
}

body{
    font-family: "Poppins", sans-serif;
}

li{
    list-style: none !important;
    display: flex; 
    align-items: center;
}

a{
    text-decoration: none !important; 
    display: flex; 
    align-items: center;
}

input,
button{
    border: none ;
    outline: none;
}


section{
    position: relative;
    width: 100%;
    max-width: 2000px; 
}

.container-site{
    max-width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

:root{
    --primary-clr: #008080;
    --text-clr: #575757;
}

/* utils */
.poppins_font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* layout */
.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_col{
    display: flex;
    flex-direction: column; 
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_end{
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex_items_center{
    display: flex; 
    align-items: center;
}

/* color */
.bg_primary{
    background-color: var(--primary-clr);
}

.text_primary{
    color: var(--primary-clr);
}

.text_clr{
    color: var(--text-clr);
}

/* font */
.font_large{
    font-size: 55px;
}

.font_title{
    font-size: 30px;
}

.font_medium{
    font-size: 17px;
}

.font_normal{
    font-size: 16px;
}

.font_subTitle{
    font-size: 13px;
}

.font_small{
    font-size: 15px;
}

/* font weight */
.font_semibold{
    font-weight: 600;
}

.font_bold{
    font-weight: 700;
}


/* other */
.border-button{
    border: 2px solid #D5DDDD;
}

.line-title{
    height: 3px;
    width: 96px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


/* styling */
/* nav */
nav{
    height: 100px;
    z-index: 999;
}

.logo,
.menu-btn{
    z-index: 12;
}

.navbar-site .bg-nav{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(255, 255, 255);
    z-index: 1;
}
 
.menu-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    left: 0;
    top: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;

    transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    -o-transform: translateY(-110%);

    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    
}

.menu-container.active{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

/* menu button */
.menu-btn button{
    height: 33px;
    width: 40px;
    
    position: relative;
    flex-direction: column; 
}

.menu-btn button span{
    background-color: black;
    position: relative;
    width: 100% ;
    height: 10% ;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.menu-btn button span::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 0%;

    background-color: black;
}

.menu-btn button.active{
    display: flex;
}

.menu-btn button.active span:nth-child(2){
   width: 0%;
}

.menu-btn button.active span:not(:nth-child(2))::before{
    width: 100%;
}
 

.menu-btn button.active span:nth-child(1){
    margin-top: 1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.menu-btn button.active span:nth-child(3){
    margin-bottom: 1rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


/* hero */


/* brands slider */
.brands-slider{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
 
}

.wrapper{ 
    width: 100%;
    max-width: 1526px;
    margin: auto;
    height: 100px; 
    position: relative;    
    overflow: hidden;   
}

.item-brand{
    width: 300px;
    height: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: absolute;
    left: calc(300px * 12);
    animation: scrollLeft 30s linear infinite;
    -webkit-animation: scrollLeft 30s linear infinite;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    cursor: pointer;
 
}

.item-brand img{
    filter: grayscale(100%);
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
 
    height: 50px;
    width: auto;
}

.item-brand:hover img{
    filter: grayscale(0%);
}

.wrapper:hover .item-brand{
    animation-play-state: paused;
}

@keyframes scrollLeft {
    to{
        left: -200px;
    }
}


/* service category */
.service-category{
    width: 80%;
    height: 39px;
}



/* testimonials */
.testimoni-container .testimoni{
    width: 100%;
    height: auto;
    border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    -ms-border-radius: 20px 0px 20px 0px;
    -o-border-radius: 20px 0px 20px 0px;
}

.testimoni.white-bg-testimoni{
    border: 2px solid #D5DDDD;
}

.testimoni.primary-bg-testimoni{
    background-color: var(--primary-clr);
}

.testimoni .profile img{
    width: 75px;
    height: auto;
    aspect-ratio: 1/1;
}


.testimoni.white-bg-testimoni .name{
    color: #1E1E1E;
}
.testimoni.white-bg-testimoni .message{
    color: #575757;
}
.testimoni.white-bg-testimoni .profession{
    color: #B0B0B0;
}

.testimoni.primary-bg-testimoni .name,
.testimoni.primary-bg-testimoni .message{
    color: #FFFFFF;
} 
.testimoni.primary-bg-testimoni .profession{
    color: #E1E1E1;
}

.testimoni .massage{
    width: 90%;
}

.testimoni .icon img{
    width: 55px;
    height: auto;
}


.testimoni.primary-bg-testimoni .icon img{
    filter: brightness(0) invert(1);  
}

/* media queries */
@media screen and (min-width:600px)  {
    .service-category{
        width: 48%; 
    }

    .testimoni-container .testimoni{
        width: 320px;
    }
}

@media screen and (min-width:1000px)  {
    .font_large{
        font-size: 75px;
    }
    
    .font_title{
        font-size: 39px;
    }
    
    .font_medium{
        font-size: 18px;
    }
    
    .font_normal{
        font-size: 17px;
    }
    
    .font_subTitle{
        font-size: 15px;
    }
    
    .font_small{
        font-size: 16px;
    }

    /* utils */
    .w-lg-50{
        width: 50%;
    }

    /* nav */
    .menu-btn{
        display: none; 
    }

    .menu-container{
        position: relative;
        background-color: white;
        border-bottom: 0px solid black;
        
        padding-bottom: 0rem;
        z-index: 99;

        top: 0%;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    /* testimonials */
    .testimoni-container .testimoni{
        width: 401px;
        height: 353px; 
    }

}


@media screen and (min-width:1600px) {
    .font_large{
        font-size: 86px;
    }
    
    .font_title{
        font-size: 48px;
    }
    
    .font_medium{
        font-size: 24px;
    }
    
    .font_normal{
        font-size: 20px;
    }

    .font_subTitle{
        font-size: 18px;
    }
    
    .font_small{
        font-size: 18px;
    }

    /* testimonials */
    .testimoni-container .testimoni{
        width: 431px;
        height: 403px; 
    }
}
