@font-face {
  font-family: "Candice";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Candice.ttf") format("truetype");
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Candice", serif;
}

.navbar_link {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar_link img {
  filter: invert(1);
  -webkit-filter: invert(1);
}


.navbar_link::after {
  content: attr(hoverAtt);  
  position: absolute;
  left: 70px;  
  opacity: 0;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.navbar_link:hover::after {
  opacity: 1;
}

 
.container-page{
  background-image: url("../images/bg.gif");
  background-size: 100% auto;  /* Lebar penuh, tinggi mengikuti */
  background-repeat: repeat-y; /* Hanya mengulang ke bawah */
  background-position: top center;
}

.movie .image:hover .imageInside{
  animation-play-state: paused; 
}

.title-section{
  font-size: 60px; 
  text-align: center;
}


@media screen and (max-width:1024px) {
  .title-section{
    font-size: 45px; 
  }
  
}
 

/* animation */
.hoverRotation{
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.hoverRotation:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}


.blink-animation{
  animation: blink .3s linear infinite;
  -webkit-animation: blink .3s linear infinite;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .4;
  }
}

.rotate-animation{
  animation: rotate 7s linear infinite;
  -webkit-animation: rotate 7s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

.text-color-animation {
  animation: colorChange .5s infinite alternate;
  -webkit-animation: colorChange .5s infinite alternate;
}

@keyframes colorChange {
  0% { color: #000000; }
  20% { color: #ff00ff; }
  40% { color: #2600ff; }
  60% { color: #00ccff; }
  70% { color: #000000; }
  100% { color: #ff00ff; }
}


.zoomIn_animation {
  animation: zoomIn_animation 1s ease-in-out infinite;
  -webkit-animation: zoomIn_animation 1s ease-in-out infinite;
}

@keyframes zoomIn_animation {
  0%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

.opacity_animation {
  animation: opacity_animation 4s ease-in-out infinite;
  -webkit-animation: opacity_animation 4s ease-in-out infinite;
}

@keyframes opacity_animation{
  0%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: .5;
  }
}